<a href="https://colab.research.google.com/github/joshimalay/Amazon--clone/blob/main/Control_Statement_(conditions)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Syntax

# if conditions...:
#   statement1...
#   statement2....
# elif:
#   Statement....
# else:
#   Statement3....

In [ ]:
age =21

if (age>=18):
  print("A person eligible for vote")
else:
  print("A person connot eligible for vote")

A person eligible for vote

In [ ]:
age =21

if (age==18 and age>=18 ):
  print("A person eligible for vote")
else:
  print("A person connot eligible for vote")

A person connot eligible for vote

# **Input**

In [ ]:
age = int(input("Enter the age:"))

if (age>=18):
  print("A person eligible for vote")
else:
  print("A person connot eligible for vote")

Enter the age:34
A person eligible for vote

In [ ]:
input()

34

'34'

In [ ]:
age = int(input("Enter the age:"))
age

Enter the age:334

334

In [ ]:
float(input("Enter the number:"))

Enter the number:34

34.0

In [ ]:
list(input('Enter the numbers:'))

Enter the numbers:23,5443.2,33,22,3,2

['2',
 '3',
 ',',
 '5',
 '4',
 '4',
 '3',
 '.',
 '2',
 ',',
 '3',
 '3',
 ',',
 '2',
 '2',
 ',',
 '3',
 ',',
 '2']

In [ ]:
eval(input("Enter the number:"))

Enter the number:False

False

In [ ]:
age = int(input("Enter the age:"))
print()
if (age>=18):
  print("A person eligible for vote")
else:
  print("A person connot eligible for vote")

Enter the age:34

A person eligible for vote

# **if - elif-else**

In [ ]:
a = int(input("Enter the number:"))

if a<0:
  print("Negative value")
elif a==0:
  print("Zero value")
else:
  print("Positive value")

Enter the number:-67
Negative value

In [ ]:
a = int(input("Enter the number:"))

if a<0:
  print("Negative value")
elif a==0:
  print("Zero value")
elif a>=0 and a<=50:
  print("The value of a is between the zero and fifty")
else:
  print("Positive value")

Enter the number:45
The value of a is between the zero and fifty

# **Nested** if-else

In [ ]:
x =int(input("Enter the number: "))
if x>10:


  if x<=20:
    print("A x s between 10 and 20.")
  else:
    print("X is more than 20")


else:
  print("X is less than 10.")

Enter the number: 10
X is less than 10.

In [ ]:
x = int(input('Enter the number: '))

if x > 10:
  if x<=20:
    print("X is between 10 and 20")
  elif x > 20 and x<=50:
    print("X is between 20 and 50")
  else:
    print("X is more than 50")

else:
  print("X is equal or less than 10 ")

Enter the number: 23
X is between 20 and 50

# Iterative Statements - **Loops**

In [ ]:
# while
# for

In [ ]:
a =0

while a <= 10:
  print(a)
  a +=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
a = 0
while a<=10:
  print(a)
  a +=1

print("LOop has been terminated ")

# **For** Loop

In [ ]:
lst = [3,4,25,6,78,4,2,2]
lst

[3, 4, 25, 6, 78, 4, 2, 2]

In [ ]:
lst = [3,4,25,6,78,4,2,2]
for i in lst:
  print(i)

3
4
25
6
78
4
2
2

In [ ]:
lst = [3,4,25,6,78,4,2,2]

for i in lst:
  if i%2==0:
    print(i)

4
6
78
4
2
2

In [ ]:
Fruits = ['apple' , 'mango' , 'orange' , 'banana' , 'kiwi']
for Fruits in Fruits:
  if Fruits == "orange":
    print(Fruits)

orange

In [ ]:
Fruits = ['apple' , 'mango' , 'orange' , 'banana' , 'kiwi']

for Fruits in Fruits:
  if Fruits == "orange":
    print(Fruits)
  else:
    print("Not found")

Not found
Not found
orange
Not found
Not found

Special Statements
Break
continue
Pass

Break

In [ ]:
Fruits = ['apple' , 'mango' , 'orange' , 'banana' , 'kiwi']

for Fruits in Fruits:
  if Fruits == "orange":
    print(Fruits)
    break
  else:
    print("Not found")

Not found
Not found
orange

Continue

In [ ]:
Fruits = ['apple' , 'mango' , 'orange' , 'banana' , 'kiwi']

for Fruits in Fruits:
  if Fruits == "orange":
        continue
  print(Fruits)

apple
mango
banana
kiwi

In [ ]:
Fruits = ['apple' , 'mango' , 'orange' , 'banana' , 'kiwi']

for Fruits in Fruits:
  if Fruits != "orange":
    continue
  print(Fruits)

orange

Pass

In [ ]:
Fruits = ['apple' , 'mango' , 'orange' , 'banana' , 'kiwi']

for Fruits in Fruits:
  if Fruits == "orange":
    pass
  print(Fruits)

apple
mango
orange
banana
kiwi

In [ ]:
def func():
  print("Malay")

In [ ]:
func()

Malay

In [ ]:
def func_2():
  pass

In [ ]:
def func_2():
  pass

def func():
  print("Malay")
func()

Malay